.env
__pycache__
.vscode
.idea
.history
**.log
**node_modules
**.md
**.ipynb
docs
*.pyc
*.pyo
SFT_datset_generation.py
uv_lock
**.txt
**.json
built_dataset.py
client.py
**.arrow
SFT_dataset_generation.py
.venv